# System files
.DS_Store
__pycache__/
*.pyc

# Logs
logs/
*.log

# Environment
.env
venv/
myenv/
.venv/
venv311/
testenv/

# IDE
.vscode/
.idea/

# Development
.devcontainer/

# Distribution
dist/
build/
*.egg-info/

# Coverage
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints
