# Core Application Dependencies
streamlit
pandas==1.3.5
numpy==1.21.6
altair
requests
python-dotenv
python-json-logger
psutil
pillow

# Database Dependencies
psycopg2-binary
sqlalchemy

# Visualization Dependencies
matplotlib
plotly

# Utility Dependencies
python-dateutil
certifi
urllib3