# Core dependencies
streamlit
pandas
numpy
altair
requests
python-dotenv
python-json-logger
psutil
pillow
psycopg2-binary
sqlalchemy

# Additional dependencies
gitdb
cffi
defusedxml
matplotlib
scipy
ipython
pip
attrs
wheel
cryptography
tornado
jinja2
pytz
rich
pygments
toml
zipp
smmap
mdurl
setuptools
overrides
jsonschema
narwhals
pyarrow
packaging
referencing
traitlets
pyyaml
MarkupSafe
python-dateutil
plotly
pydeck
certifi
tzdata
urllib3
six
sympy
idna
tenacity
fonttools
pyparsing
click
cachetools
blinker
watchdog
webcolors
jsonpointer
isoduration
fqdn
cycler
ipykernel
kiwisolver
platformdirs